body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.ibb.co/Lpz8SSJ/An-app-by-tech-titans.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #007BFF;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.checkbox-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}

.checkbox-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    flex: 1;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}

button i {
    margin-right: 8px;
}

#recommendations {
    margin-top: 20px;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.recommendation-item {
    margin-bottom: 20px;
}

.recommendation-title {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}

.recommendation-description {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}
